body{
    background-color: white;
}
#formulario{
    background-color: rgb(25, 0, 255);
    margin: auto;
    width: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    
    backface-visibility: visible;
    margin-bottom: 40px;
}

#formulario h1{
    text-align: center;
    color: white;
}

#formulario label{
    color: white;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    margin-left: 10%;
}

#formulario input{
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    width: 80%;
    
}

#formulario button{
    display: block;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 5vh;
    border-radius: 15px;
    color: White;
    background-color: rgb(25, 0, 255);
    box-shadow: 0px 5px 5px black;
}

#grid1{
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#grid1 a{
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-instagram{
    font-size: 2em;
    color: white;
    
}

.fa-google{
    font-size: 2em;
    color: white; 
}

.fa-facebook{
    font-size: 2em;
    color: white;  
}

.fa-user-circle{
    font-size: 3em;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    
    color: white;
}

.fa-lock{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
}


@media only screen and (width<1100px){
    #formulario{
        width: 40%;
    }
    
}

@media only screen and (width<900px){
    #formulario{
        width: 40%;
    }
    
}


@media only screen and (width<680px){
    #formulario{
        width: 80%;
    }
    
}



/*aqui empieza el formateo de la tabla*/



table 			      { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
    
    
    *               { position:relative }
    
    td,th           { padding-left:8px;}
  
    thead tr        { 
      height:60px;
      background-color: rgb(25, 0, 255);
      font-size:16px;
      color: white;
    }
    
    

    tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
      &:last-child  { border:0; }
    }
    
       td,th 					{ text-align:left;
          &.l 					{ text-align:right }
          &.c 					{ text-align:center }
          &.r 					{ text-align:center }
      }
  }
  
  table td:hover{
    background-color: rgb(30, 210, 223);
    color: white;
  }

  table th{
    text-align: center;
  }
  table td{
    text-align: center;
  }
  
 
  
  blockquote {
    color:white;
    text-align:center;
  }

  
  
  