/***********************************************/
/*        Crud con el loguin y la tabla        */
/*             Boris Gallego Ríos              */
/***********************************************/ 

/*Formateo del body*/

body{
    background-color: white;
}

/*formateo del formulario*/

#formulario{
    background-color: rgb(25, 0, 255);
    margin: auto;
    width: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    
    backface-visibility: visible;
    margin-bottom: 40px;
}
/*formateo del titulo del formulario*/

#formulario h1{
    text-align: center;
    color: white;
}

/*formateo de las etiquetas del formulario*/

#formulario label{
    color: white;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    margin-left: 10%;
}

/*formateo de los campos de input del formulario*/

#formulario input{
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    width: 80%;
    
}

/*formateo del boton del formulario*/

#formulario button{
    display: block;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 5vh;
    border-radius: 15px;
    color: White;
    background-color: rgb(25, 0, 255);
    box-shadow: 0px 5px 5px black;
}

/*formateo del grid de los iconos de instagram, google y facebook*/

#grid1{
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
}

/*formateo del enlace que esta incrustado en los iconos de instagram, google y facebook*/

#grid1 a{
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*formateo de los iconos de de la tabla*/ 

.fa-instagram{
    font-size: 2em;
    color: white;
    
}

.fa-google{
    font-size: 2em;
    color: white; 
}

.fa-facebook{
    font-size: 2em;
    color: white;  
}

.fa-user-circle{
    font-size: 3em;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    
    color: white;
}

.fa-lock{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
}


/*media query que formatea correctamente el formulario haciendolo responsive*/

@media only screen and (width<1100px){
    #formulario{
        width: 40%;
    }
    
}

@media only screen and (width<900px){
    #formulario{
        width: 40%;
    }
    
}


@media only screen and (width<680px){
    #formulario{
        width: 80%;
    }
    
}






  /*Aqui empieza el formateo de la tabla*/

  /* Establece la esquina superior izquierda de la primera celda de encabezado con un radio de borde de 15px */
  th:first-child {
    border-top-left-radius: 15px;
    
  }

  /* Establece la esquina superior derecha de la última celda de encabezado con un radio de borde de 15px */
  th:last-child {
    border-top-right-radius: 15px;
  }

  /* Establece la esquina inferior izquierda de la primera celda de datos de la última fila con un radio de borde de 15px */
   tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
    
    
  }

  /* Establece la esquina inferior derecha de la última celda de datos de la última fila con un radio de borde de 15px */
  tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
    
    
  }

  /* Aplica estilos cuando se pasa el ratón sobre una celda de datos de la tabla */
  table td:hover{
    background-color: rgb(0, 68, 255);
    color: white;
    
}

  /* Estilos para las celdas de encabezado de la tabla */
  table th{
    background-color: blue;
    color: white;
    
  }

  /* Estilos para las celdas de datos de la tabla */
  table td{
    background-color: white;
    
  }

  /* Estilos generales para la tabla */
  table {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: blue;
  }
  
  /* Estilos para el título de la tabla */
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    
  }

  /* Estilos para las filas de la tabla */
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    
  }
  
  /* Estilos para las celdas de encabezado */
  table th{
    padding: .625em;
    text-align: center;
    color: white;
  }

  /* Estilos para las celdas de datos */
  table td {
    padding: .625em;
    text-align: center;
    
    color: black;
  }

  /* Estilos adicionales para las celdas de encabezado */
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  /* Estilos para pantallas pequeñas (ancho máximo de 600px) */
  @media screen and (max-width: 600px) {

    /* Elimina el borde y establece el fondo blanco para la tabla */
    table {
      border: 0;
      background-color: white;
    }

     /* Ajusta el tamaño del título de la tabla para pantallas pequeñas */
    table caption {
      font-size: 1.3em;
      
    }

    /* Oculta las filas de encabezado de la tabla */
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      
    }
    
    /* Estilos para las filas de la tabla en pantallas pequeñas */
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      border-radius: 15px;
      background-color: blue;
      padding: 5px;
    }

    /* Estilos para las celdas de datos en pantallas pequeñas */
    table td {
      
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      
    }

    /* Ajusta los radios de borde para la primera y última celda de datos en pantallas pequeñas */
    td:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      /* Ajusta los radios de borde para la última celda de datos en pantallas pequeñas */
      td:last-child  {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      
      /* Restaura el radio de borde para la esquina inferior izquierda de la última celda de datos en la última fila */
      tr:last-child td:first-child {
        border-bottom-left-radius: 0px;
        
        
      }

   
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      
    }
    
    table td:last-child {
      border-bottom: 0;
      
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  