/***********************************************/
/*        Crud con el loguin y la tabla        */
/*             Boris Gallego Ríos              */
/***********************************************/ 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*formateo formulario*/

form{
    box-shadow: 5px 5px 10px black;
    background-color: blue;
    width: 20%;
    color: white;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*formateo titulo formulario*/

form h1{
    text-align: center;
}

/*formulario etiqueta formulario*/

form label{
    display: block;
    margin-bottom: -5px;
    margin-left: 10%;
}


/*formulario input/entrada del formulario*/

input{
margin-bottom:10px ;   
padding: 6px;
height: 40px;
width: 80%;
display: block;
margin: auto;
}




/*formateo del boton del formulario*/

form button{
    display: block;
    padding: 15px;
    background-color: blue;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 5px 5px black;
}

/*formateo iconos de fontsawesome*/

form i{
    color: white;
    display: block;
    font-size: 5em;
}

/*formateo del icono principal*/

#icono{
    font-size: 2.5em;
    text-align: center;
}

/*formateo de la mediaquery que permite la responsividad*/

@media screen and (max-width: 200px) {
    form{
        width: 30%;
    }
}

@media screen and (max-width: 1400px) {
    form{
        width: 30%;
    }
}


@media screen and (max-width: 1200px) {
    form{
        width: 70%;
    }
}