/***********************************************/
/*        Crud con el loguin y la tabla        */
/*             Boris Gallego Ríos              */
/***********************************************/ 

/*Formateo del body*/

body{
    background-color: white;
}

/*formateo del formulario*/

#formulario{
    background-color: rgb(25, 0, 255);
    margin: auto;
    width: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    
    backface-visibility: visible;
    margin-bottom: 40px;
}
/*formateo del titulo del formulario*/

#formulario h1{
    text-align: center;
    color: white;
}

/*formateo de las etiquetas del formulario*/

#formulario label{
    color: white;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    margin-left: 10%;
}

/*formateo de los campos de input del formulario*/

#formulario input{
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    width: 80%;
    
}

/*formateo del boton del formulario*/

#formulario button{
    display: block;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    height: 5vh;
    border-radius: 15px;
    color: White;
    background-color: rgb(25, 0, 255);
    box-shadow: 0px 5px 5px black;
}

/*formateo del grid de los iconos de instagram, google y facebook*/

#grid1{
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
}

/*formateo del enlace que esta incrustado en los iconos de instagram, google y facebook*/

#grid1 a{
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*formateo de los iconos de de la tabla*/ 

.fa-instagram{
    font-size: 2em;
    color: white;
    
}

.fa-google{
    font-size: 2em;
    color: white; 
}

.fa-facebook{
    font-size: 2em;
    color: white;  
}

.fa-user-circle{
    font-size: 3em;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    
    color: white;
}

.fa-lock{
    color: white;
    font-size: 2em;
    display: block;
    text-align: center;
}


/*media query que formatea correctamente el formulario haciendolo responsive*/

@media only screen and (width<1100px){
    #formulario{
        width: 40%;
    }
    
}

@media only screen and (width<900px){
    #formulario{
        width: 40%;
    }
    
}


@media only screen and (width<680px){
    #formulario{
        width: 80%;
    }
    
}






  